<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    <title>Connexion - Plateforme Événements Universitaires</title>
   
</head>
<body>
    <header>
        <h1>Connexion - Plateforme Événements Universitaires</h1>
    </header>

    <section id="formulaire">
        <form>
            <label for="email">E-mail :</label>
            <input type="email" id="email" name="email" required>

            <label for="mot_de_passe">Mot de passe :</label>
            <input type="password" id="mot_de_passe" name="mot_de_passe" required>

            <button type="submit">Se Connecter</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Plateforme Événements Universitaires</p>
    </footer>   
</body>
</html>