<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    <title>Profil Utilisateur - Plateforme Événements Universitaires</title>
</head>
<body>
    <header>
        <h1>Profil Utilisateur - Plateforme Événements Universitaires</h1>
    </header>

    <section>
        <h2>Informations du Profil</h2>
        <label for="nom">Nom :</label>
        <p id="nom">John Doe</p>

        <label for="prenom">Prénom :</label>
        <p id="prenom">Jane</p>

        <label for="email">E-mail :</label>
        <p id="email">jane.doe@example.com</p>

        

        <h2>Événements Inscrits</h2>
        <ul>
            <li>Événement 1</li>
            <li>Événement 2</li>
            
        </ul>
    </section>

    <footer>
        <p>&copy; 2024 Plateforme Événements Universitaires</p>
    </footer>
</body>
</html>