<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css')}}" >
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Plateforme Événements Universitaires</h1>
    </header>

    <main>

        <section class="hero-section">
            <h2>Bienvenue sur la Plateforme des Événements Universitaires !</h2>
            <p>Découvrez, participez et organisez des événements passionnants.</p>
        </section>

        <section class="feature-section">
            <div class="feature">
                <h3><a href="">Calendrier Interactif</a></h3>
                <p>Explorez facilement les événements à venir avec notre calendrier interactif.</p>
            </div>
            <div class="feature">
                <h3><a href="">Inscription en Ligne</a></h3>
                <p>Participez aux événements en vous inscrivant en ligne en toute simplicité.</p>
            </div>
            <div class="feature">
                <h3><a href="">Notations et Commentaires</a></h3>
                <p>Donnez votre avis sur les événements et découvrez les retours des participants.</p>
            </div>
        </section>

        <section>
            <h2>Événements à Venir</h2>

            <div class="event">
                <img src="/images/CeremonieDiplome01.jpg" alt="Événement 1">
                <h2>Événement 1</h2>
                <p>Description de l'événement 1. Date: 31/12/2024, Lieu: Salle des fetes</p>
                <button>En savoir plus</button>
            </div>

            <div class="event">
                <img src="/images/nighttales-tickets-tcs-banner.jpg" alt="Événement 2">
                <h2>Événement 2</h2>
                <p>Description de l'événement 2. Date: 05/08/2024, Lieu: Plage</p>
                <button>En savoir plus</button>
            </div>

            <div class="event">
                <img src="/images/OIP.jpeg" alt="Événement 3">
                <h2>Événement 3</h2>
                <p>Description de l'événement 3. Date: 27/05/2024, Lieu: le brunch</p>
                <button>En savoir plus</button>
            </div>

            <div class="event">
                <img src="/images/R.jpeg" alt="Événement 4">
                <h2>Événement 4</h2>
                <p>Description de l'événement 4. Date: 14/02/2024, Lieu: Amphithéâtre Y</p>
                <button>En savoir plus</button>
            </div>
        

        </section>

    </main>

    <footer>
        <p>&copy; 2024 Plateforme Événements Universitaires</p>
    </footer>
</body>
</html>